<h1> Add A Word to the Dictionary</h1>

<p>
	<b>Singular version of the word:</b><br>
	<%== text_field_tag "new_word" %><br>
	<b>Plural version of the word:</b><br>
	<%== text_field_tag "plural_new_word" %><br>
	<b>Synonyms of the words, separated by commas:</b><br>
	<%== text_field_tag "synonym1" %><br>
	<%== text_field_tag "synonym2" %><br>
	<%== text_field_tag "synonym3" %><br>
	<%== text_field_tag "synonym4" %><br>
	<%== submit_tag "Add Word to Dictionary" %>
</p>
