	<div class="row">
	  <div class="span12 text-center">
	   <h1>Welcome to ReWord</h1>
	   <h4>The innovative text manipulator! If you just can't figure out a synonym to use, let ReWord help you. Just enter the sentence you want to change and press go. <a href="/login">Login</a> to add words to the dictionary.</h4>
	  </div>
	</div>
	<div class="row">
		<div class="span4">
		</div>
		<div class="span4">
			<h1> Add A Word to the Dictionary</h1>

			<p>
				<b>Singular version of the word:</b><br>
				<%== text_field_tag "new_word" %><br>
				<b>Plural version of the word:</b><br>
				<%== text_field_tag "plural_new_word" %><br>
				<b>Synonyms of the words, separated by commas:</b><br>
				<%== text_field_tag "synonym1" %><br>
				<%== text_field_tag "synonym2" %><br>
				<%== text_field_tag "synonym3" %><br>
				<%== text_field_tag "synonym4" %><br>
				<%== submit_tag "Add Word to Dictionary" %>
			</p>
		</div>
		<div class="span4">
		</div>
	</div>
