	<div class="row">
	  <div class="span12 text-center">
	   <h4>You can add words to the dictionary in ReWord if the word you want to change isn't changing in the sentence. Simply type in the word you want to add and any synonyms you can think of.
	   </h4>
	  </div>
	</div>
	<div class="row">
		<div class="span4">
			<div>
        <%= image_tag("ReWord_logo_small.jpg", alt: "ReWord")%>
      </div>
		</div>
		<div class="span4">
			<h1> Add A Word to the Dictionary</h1>

			<p>
				<b>Singular version of the word:</b><br>
				<%== text_field_tag "new_word" %><br>
				<b>Plural version of the word:</b><br>
				<%== text_field_tag "plural_new_word" %><br>
				<b>Synonyms of the words, separated by commas:</b><br>
				<%== text_field_tag "synonym1" %><br>
				<%== text_field_tag "synonym2" %><br>
				<%== text_field_tag "synonym3" %><br>
				<%== text_field_tag "synonym4" %><br>
				<%== submit_tag "Add Word to Dictionary" %>
			</p>
		</div>
		<div class="span4">
		</div>
	</div>
