<%= form_tag "/register", method: "POST" do %>
  <div class="row">
    <div class="span12 text-center">
     <h1>Join ReWord</h1>
     <h4>The innovative text manipulator! If you just can't figure out a synonym to use, let ReWord help you. Just enter the sentence you want to change and press go. <a href="/login">Login</a> to add words to the dictionary.</h4>
    </div>
  </div><!-- ends header div -->
  <div class="row">
    <div class="span4">
      <div>
        <%= image_tag("ReWord_logo_small.jpg", alt: "ReWord")%>
      </div>
    </div>
    <div class="span4">
      <h1>Register</h1>
      <p>
        <%= label_tag :first_name, "First Name:" %>
        <%= text_field_tag :first_name %>
        <%= label_tag :last_name, "Last Name:" %>
        <%= text_field_tag :last_name %>
        <%= label_tag :username,  "Username:" %>
  			<%= text_field_tag :username %>
  			<%= label_tag :password, "Password:" %>
  			<%= password_field_tag :password %>
  			<%= label_tag :password_confirmation, "Confirm Password:" %>
  			<%= password_field_tag :password_confirmation %>
        <%= label_tag :email, "Email Address:" %>
        <%= text_field_tag "email" %>
        <%= label_tag :student, "Please check the box if you are a student:" %>
        <%= check_box_tag :student %>
      </p>
        <p class="container">
  			 <%= submit_tag "Sign Up" %>
        </p>
    </div>
    <div class="span4">
      <div class="container">
        <h3>Why Sign Up?</h3>
        <ul>
          <li>ReWord is Free and Easy to Use
          <li>You can add words to the dictionary
          <li>Get Help ReWording your sentences
        </ul>
    	  <p><b>Already have an account? <a href ="/login">Login</a>!</b>
        </p>
      </div>
    </div>
  </div><!-- ends body div -->
  <% end %>