<%= form_for(@scholar, url: admin_path, method: "PUT") do |f| %>
  <% if @scholar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scholar.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @scholar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @scholar = Scholar.find(params[:id]) %>
    <div class="form-group">
      <%= f.label :firstname, "First Name" %>
      <%= f.text_field :first_name %>
    </div>  
    <div class="form-group">
      <%= f.label :lastname, "Last Name:" %>
      <%= f.text_field :last_name %>
    </div>
    <div class="form-group">
      <%= f.label :username, "Username:" %>
      <%= f.text_field :username %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :student, "Student:" %>
      <%= f.check_box :student %>
    </div>
    <div class="form-group">
      <%= f.label :isadmin, "Admin:" %>
      <%= f.check_box :is_admin %>
    </div>

  <%= link_to 'Edit', edit_admin_path(@admin) %> 
  <%= link_to 'Back', admins_path %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
