<!DOCTYPE html>
<html>
<head>
  <title>ReWordProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner">
	    <a class="brand" href="/">ReWord</a>
	    <ul class="nav">
	    	<li><a href="/about">About Us</a>
	    	<% if session[:scholar_id] != nil %>
		      <li><a href="/index">Start ReWording</a>
		      <li><a href="/add_word">Add A Word</a>
		      <li><a href="/logout">Logout</a>
		    <% elsif session[:scholar_id] == nil %>
	      	<li><a href="/register">Register</a>
	      	<li><a href="/login">Login</a>
	      <% end %>
	    </ul>
	  </div>
	</div>

	<% flash.keys.each do |key| %>
	  <div class="flash flash-<%= key %>">
	    <%= flash[key] %>
	  </div>
	<% end %>


	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
